html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

/* *{
    border: 1px solid;
} */
.hpage-main-body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #FFA07A;
}

.hpage-body{
    display: flex;
    flex: 1;
}

.hpage-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E3CEB7;
    font-size: 30px;
    font-weight: 900;
    height: 50px;
    margin: 5px;
    border-radius: 50px;
}

.sidebar{
    width: 300px;
    flex-shrink: 0;
    padding: 16px;
    background: #E3CEB7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sbar-ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

.hpage-link-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
}

.cards{
    display: flex;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 225px;
    background: #A5CBA9;
    border-radius: 10px;
    border: 1px solid;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.hpage-li{
    margin-bottom: 10px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    border-radius: 4px;
}