html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}



.header{
    text-align: center;
    background-color: aquamarine;
    width: 350px;
    margin: 10px auto;
    border: 1px solid black;
}

.header.recipe{
    background-color: blanchedalmond;
}

.recipelinks{
    background-color: powderblue;
    border: 1px dotted black;
    width: 450px;
    margin: auto;
}

.links{
    padding: 5px;
    
}

.homepagelist{
    text-align: center;
    padding: 0;
    list-style-position: inside;
    list-style: none;
}

img{
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.descrip{
    text-align: center;
    width:500px;
    margin: auto; 
    font-family: "Times New Roman", sans-serif;
}

.ingcontainer{
    background-color: bisque;
    width: 50%;
    min-width: 500px;
    max-width: 500px;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid cornflowerblue;
    
}

.ingredients{
    width:25%;
    min-width: 200px;
    max-width: 200px;
    margin: 0 auto;
    background-color: whitesmoke;  
    text-align: center;
}