html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}



.header{
    text-align: center;
    background-color: aquamarine;
    width: 350px;
    margin: 10px auto;
    border: 1px solid black;
}

.header.recipe{
    background-color: blanchedalmond;
}

.recipelinks{
    background-color: powderblue;
    border: 1px dotted black;
    width: 50%;
    margin: auto;
}

.links{
    padding: 5px;
    
}

.homepagelist{
    text-align: center;
    padding: 0;
    list-style-position: inside;
    list-style: none;
}

img{
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.descrip{
    text-align: center;
    margin: auto; 
    font-family: "Times New Roman", sans-serif;
}

.ingcontainer,
.instcontainer{
    display: block;
    width: 1000px;
    background-color: bisque;
    padding: 5px;
    border: 1px solid cornflowerblue;   
}

.ingcontainer{
    margin: 0 auto;
}

.instcontainer{
    margin: 10px auto;
}

.ingredients,
.instructions{
    margin: 0 auto;
    background-color: whitesmoke;  
    text-align: center;
}